%p.lead ¿Qué dato del gobierno te gustaría conocer?

%form(action="/signup" method="post" role="form")
  #data-requests
    .data-request
      .row
        .col-md-9
          %input.form-control(name="data-requests[][description]" placeholder="Ej. Presupuesto para salud" type="text")
      .row
        .col-md-9
          %select.form-control(name="data-requests[][category]")
            %option(value="" disabled selected) Categoría
            %option Gasto público
            %option Salud
            %option Educación
            %option Economía
            %option Seguridad
            %option Otro
        .col-md-1
          %a#new-data-request(href="#" onclick="addDataRequest(this)")
            %i.glyphicon.glyphicon-plus
  #enrollment.form-inline.row
    .col-md-9
      %input#email.form-control{name: "email", placeholder: "Correo electrónico", type: "text"}
    .col-md-3
      %button#signup-submit.btn.form-control{type:"submit"} Registrar
  .row
    .col-md-12
      - if flash[:error]
        %div#errors= flash[:error]
      %p.disclaimer{style: "display:none;"} By signing up, you acknowledge and agree our terms and conditions

