%div#landa
  %div.title
    %h1
      Welcome home
      %div.content
        %div#errors
          %span= flash[:error] if flash[:error]
        %form#signup-form{action: "/signup", method: "post"}
          #data-requests
          #new-data-request-wrapper
            %a#new-data-request{href:"#"} Agregar
          #enrollment
            %input#email{name: "email", placeholder: "Email address", type: "text"}
            %button#signup-submit{type:"submit"} Sign me up!
            %p.disclaimer{style: "display:none;"} By signing up, you acknowledge and agree our terms and conditions

/ Templates

%script#data-request-template{"type" => "text/template"}
  .data-request
    %input(name="data-request[][description]" placeholder="Presupuesto para educación 2013" type="text")
    %select(name="data-request[][category]")
      %option(disabled selected) Categoría
      %option Gasto público
      %option Salud
      %option Educación
      %option Economía
      %option Seguridad
      %option Otro
    %a.remove-data-request(href="#" onclick="removeDataRequest(this)") Remover
