%p.lead= t('poll.lead')

%form(action="/respuestas" id="answers" method="post" role="form")
  = csrf_input_tag
  %input(type="hidden" name="selected" value="0")
  %ul#options
    - locals[:options].each do |option|
      %li(class="poll-option-wrapper")
        %a(class="poll-option btn-3d green" href="#" id="option-#{option.pseudo_uid}")= option.text

%p.poll-action-wrapper
  %a(href="/resultados" id="poll-finish")= t('poll.actions.finish')

