
/* Mobile first */

.container {
  padding: 20px 15px 20px 15px;
}

input, select, i {
  margin-bottom: 15px;
}

.logo {
  float: left;
  height: 180px; /* Hack to keep text alignment after resizing */
}

.logo img {
  width: 60px;
  margin: 40px 20px 0 0;
}

p { font-size: 12px }

#new-data-request { display: none }

// Of SVGs and monsters
svg .axis-label { visibility: collapse }
#chart svg.bar-chart { height: 535px }
#chart svg.legend {
  height: 260px;
  width: 300px;
  visibility: visible;
}

/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
  .container {
    max-width: 750px;
  }

  i {
    margin: 8px 0 7px 0;
  }

  .btn-3d { font-size: 22px }
  .logo img { width: 80px }

  p { font-size: 14px }

  // IE does not render foreignObjects
  // which we used for the axis label,
  // therefore for IE we should keep the legend below the chart
  // to explain the bar chart
  #chart.not-ie svg .axis-label { visibility: visible }
  #chart.not-ie svg.bar-chart { height: 680px }
  #chart.not-ie svg.legend {
    height: 0;
    visibility: collapse;
  }
}

@media screen and (min-width: 992px) {
  #new-data-request { display: block }
}

