
/* Mobile first */

.container {
  padding: 20px 15px 20px 15px;
}

input, select, i {
  margin-bottom: 15px;
}

/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
  .container {
    max-width: 700px;
  }

  header {
    margin-bottom: 10px;
  }

  i {
    margin: 8px 0 7px 0;
  }

  .btn-3d { font-size: 22px; }
}

@media screen and (max-width: 480px) {
  p { font-size: 12px; }
}

/* Header */

.logo {
  float: left;
  height: 180px; /* Hack to keep text alignment after resizing */
}

.logo img {
  width: 80px;
  margin-top: 40px;
}

