
/* Mobile first */

.container {
  padding: 20px 15px 20px 15px;
}

input, select, i {
  margin-bottom: 15px;
}

.logo {
  float: left;
  height: 180px; /* Hack to keep text alignment after resizing */
}

.logo img {
  width: 60px;
  margin: 40px 20px 0 0;
}

p { font-size: 12px }

#new-data-request { display: none }

svg .axis-label {
  visibility: collapse;
}

#chart svg.bar-chart {
  height: 540px;
}

#chart svg.legend {
  height: 260px;
  width: 300px;
  visibility: visible;
}

/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
  .container {
    max-width: 750px;
  }

  i {
    margin: 8px 0 7px 0;
  }

  .btn-3d { font-size: 22px }
  .logo img { width: 80px }

  p { font-size: 14px }

  svg .axis-label {
    visibility: visible;
  }

  #chart svg.bar-chart {
    height: 680px;
  }

  #chart svg.legend {
    height: 0;
    visibility: collapse;
  }
}

@media screen and (min-width: 992px) {
  #new-data-request { display: block }
}

