
/* Style */

body {
  background-color: #F2F2F2;
  color: #000;
  font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

header {
  background-color: #333333;
  color: white;
}

header p {
  font-weight: 100;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Abel","Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1 {
  text-transform:uppercase;
}

hr {
  border-top-color: #333;
}

i {
  color: #000;
  font-size: 24px;
}

.btn {
  background-color: #000;
  color: #fff;
}

.btn:hover, .btn:focus {
  color: #fff;
  text-decoration: underline;
}

.btn, .form-control {
  border-radius: 0;
  height: 44px;
}

#errors {
  color: #b94a48;
}

/* Graph */

g.legend text { text-transform: uppercase; }

div.tooltip {
  position: absolute;
  pointer-events: none;
}

.axis text {
  font: 10px sans-serif;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
  shape-rendering: crispEdges;
}

