
/* Style */

body {
  background-color: #f0f0ee;
  color: #000;
}

h1 {
  text-transform:uppercase;
}

i {
  color: #000;
  font-size: 24px;
}

.btn {
  background-color: #000;
  color: #fff;
}

.btn:hover, .btn:focus {
  color: #fff;
  text-decoration: underline;
}

.btn, .form-control {
  border-radius: 0;
  height: 44px;
}

#errors {
  color: #b94a48;
}



